@font-face {
    font-family: OpenSans;
    src: url(../font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: FaSolid;
    src: url(../font/fa-solid.otf);
}
@font-face {
    font-family: FaBrands;
    src: url(../font/fa-brands.otf);
}

html, * {
    font-family: OpenSans;
}

body {
    margin: 0;
}

.header {
    height: 50px;
    width: 100%;
    background: #333;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.buttonbox {
    width: 98%;
    padding-right: 2%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.buttonbox button {
    font-weight: bold;
    font-family: FaSolid;
    border: none;
    background: none;
    height: 30px;
    width: 30px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.buttonbox button#patreon {
    width: 70px;
    font-size: 10px;
    font-family: OpenSans;
}